# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# CodeYam - ignore everything except database, screenshots, universal mocks, and power rules
.codeyam/*
!.codeyam/db.sqlite3
!.codeyam/config.json
!.codeyam/captures/
.codeyam/captures/*
!.codeyam/captures/screenshots/
!.codeyam/universal-mocks/
!.codeyam/bin/
!.codeyam/rules/

.env*.local
